.App {
  text-align: left;
  height: 100vh;
  background-color: #EEE;
  padding: 1rem;  
}

h1 {
  margin: 0;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .home-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4em 1fr;
    grid-template-areas: "Header Header Header" "Articles Comments Sidebar";
  }
}

.header { grid-area: Header; }
.home-articles { grid-area: Articles; }
.home-comments { grid-area: Comments; }
.home-sidebar { grid-area: Sidebar; }

.header {
  background-color: white;
  padding:1rem;
}

button {
  padding: .5rem;
  margin: 0 .5rem;
}

.single-article button {
  display: inline;
}

/* .article-add-form input[type="text"] {
} */

.w100 {
  display: block;
  width: 100%;
}

.hide {
  display: none;
}
