.App {
  text-align: left;
  height: 100vh;
  background-color: #EEE;
  padding: 1rem;
  
}

h1 {
  margin: 0;
  margin-bottom: 2rem;
}


@media (min-width: 768px) {
  .home-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "Header Header Header" "Articles Comments Sidebar";
  }
}


.header { grid-area: Header; }
.home-articles { grid-area: Articles; }
.home-comments { grid-area: Comments; }
.home-sidebar { grid-area: Sidebar; }


.header {
  background-color: white;
  padding:1rem;
}


/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/